@import
  "material-foundation";

body {
  background: $grey-50;
}
header {
  background: $primary-color;
  overflow: hidden;
  h1 {
    @extend .text-display-3;
    margin-top: 90px;
  }
  h2 {
    @extend .text-display-1;
    margin-bottom: 30px;
  }
  h1, h2, .text-button {
    color: $white;
  }
  img {
    margin-bottom: -2px;
    @include show-for(large);
  }
  .icon-link {
    margin: {
      right: 5px;
      bottom: 50px;
    }
  }
}
.download {
  .floating-action-accent-button {
    float: right;
    margin-top: -30px;
  }
}
.summary {
  margin-top: 50px;
}
hr {
  border-bottom: 1px solid $black-12;
  margin: 50px auto 0;
}
h2.demo-headline {
  @extend .text-headline;
  color: $primary-color;
  margin-top: 50px
}
.tabs-content {
  background: $white;
  padding: 20px;
}
.icons {
  text-align: center;
}
.icons i {
  font-size: 48px;
  display: inline-block;
  height: 48px;
  width: 48px;
  overflow: hidden;
  margin: 10px;
  color: $grey-500;
}
.floating-action-button {
  margin-right: 15px;
}
.switch {
  float: left;
  margin: {
    left: 10px;
    right: 30px;
  }
}
.switches .columns {
  margin-bottom: 20px;
}
.tooltips {
  padding-bottom: 50px;
}
.kitchen-sink {
  p, fieldset {
    margin-top: 1rem;
  }
  hr {
    margin-bottom: 30px;
  }
  .small-6, .medium-6 {
    background: $grey-300;
    &:nth-child(2) {
        background: $grey-400;
    }
  }
}
#footer {
  background: white;
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
}
p span.quote {
  background-color: #ddd;
  padding: 5px;
  border-radius: 3px;
}
ul.demo-colors {
  margin-left: 0;
  .text-bold {
    font-weight: bold; 
  }
  li {
    list-style: none;
    padding: 10px;
  }
}
