// Material Design color libarary
@import
  "style/color";

// Sass utilities
@import '../bower_components/foundation-sites/scss/util/util';

// Global variables and styles
@import 'global';

// Foundation Files
@import
  "foudation";

// Material Design - Core
@import
  "core/material",
  "core/animation";

// Material Design - Style
@import
  "style/icons",
  "style/imagery",
  "style/typography";

// Material Design - Components
@import
  "components/tabs",
  "components/buttons",
  "components/menus",
  "components/cards",
  "components/chips",
  "components/data-tables",
  "components/lists",
  "components/toolbars",
  "components/text-fields",
  "components/progress-activity",
  "components/sliders",
  "components/selection-controls",
  "components/tooltips",
  "components/summary";
