$zmdi-font-path:      "../bower_components/material-design-iconic-font/dist/fonts";
$zmdi-css-prefix:     icon-hc;
$zmdi-icon-prefix:    icon;
@import "../../bower_components/material-design-iconic-font/scss/material-design-iconic-font.scss";
