// Reference:
// http://www.google.com/design/spec/style/typography.html

@include foundation-typography;

//Typography Styles
.text-display-4 {
  font-size:   112px;
  line-height: 128px;
  letter-spacing: -7px;
  padding-top: 17px;
  margin-bottom: 15px;
  font-weight: $global-weight-light;
}

.text-display-3 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  padding-top: 8px;
  margin-bottom: 28px;
  font-weight: $global-weight-normal;
}

.text-display-2 {
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 11px;
  letter-spacing: -1px;
  font-weight: $global-weight-normal;
}

.text-display-1 {
  font-size: 34px;
  line-height: 40px;
  padding-top: 8px;
  margin-bottom: 12px;
  letter-spacing: -1px;
  font-weight: $global-weight-normal;
}

.text-headline {
  font-size: 24px;
  line-height: 32px;
  padding-top: 16px;
  margin-bottom: 12px;
  letter-spacing: 0;
  font-weight: $global-weight-normal;
}

.text-title {
  font-size: 20px;
  line-height: 28px;
  padding-top: 19px;
  margin-bottom: 13px;
  letter-spacing: 0;
  font-weight: $global-weight-bold;
}

.text-subhead {
  font-size: 15px;
  line-height: 28px;
  padding-top: 2px;
  margin-bottom: 10px;
  letter-spacing: 0;
  font-weight: $global-weight-normal;
}

.text-body-2 {
  font-size: 13px;
  line-height: 24px;
  padding-top: 4px;
  margin-bottom: 12px;
  letter-spacing: 0;
  font-weight: $global-weight-bold;
}

.text-body-1 {
  font-size: 13px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-weight: $global-weight-normal;
}

.text-caption {
  font-size: 12px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-weight: $global-weight-normal;
}

.text-menu {
  font-size: 13px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-weight: $global-weight-bold;
}

.text-button {
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
  margin-bottom: 15px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: $global-weight-bold !important;
}
