// Reference:
// http://www.google.com/design/spec/components/buttons.html

.button {
  overflow: hidden;
  @extend .text-button;
  padding: $button-padding;
  position: relative;
  border: 0;
  &:not(.floating-action) {
    @extend .z-depth-1;
    &:active {
      @extend .z-depth-2;
    }
  }
}
.floating-action.button {
  overflow: hidden;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 1rem;
  margin: 0;
  i {
    font-size: 24px;
    text-align: center;
  }
  @extend .z-depth-2;
  &:active {
    @extend .z-depth-3;
  }
}
.hollow.button {
  background: $white;
  border: 0 !important;
  &:hover {
    background: $grey-100;
  }
}
.flat.button {
  box-shadow: none;
  @each $name, $color in $button-palette {
    &.#{$name} {
      @include button-style(
        $background: rgba($color,0),
        $background-hover: rgba($color,.2),
        $color: $color
      );
    }
  }
}
.disabled.button {
  @include button($background: transparent, $background-hover: transparent, $color: $black);
  box-shadow: none;
  cursor: not-allowed !important;
}
