// Reference:
// http://www.google.com/design/spec/components/buttons.html

$button-background-hover: scale-color($button-background, $lightness: -5%);
$button-padding: 0.85em 1em 0.7em 1em;

@include foundation-button;
@include foundation-button-group;
@include foundation-dropdown;

.raised-button, .raised-accent-button, .flat-button, .disabled-button {
  min-width: 64px;
  overflow: hidden;
}
.raised-button, .raised-accent-button, .flat-button, .disabled-button {
  @extend .text-button;
}
.raised-button, .floating-action-button {
  @include button;
}
.raised-accent-button, .floating-action-accent-button {
  @include button($background: $secondary-color, $background-hover: scale-color($secondary-color, $lightness: -5%), $color: $black-87);
  &,&:hover {
    color: $black-87;
  }
}
.raised-button, .floating-action-button, .raised-accent-button, .floating-action-accent-button {
  @extend .z-depth-1;
  &:active {
    @extend .z-depth-2;
  }
}
.floating-action-button, .floating-action-accent-button {
  overflow: hidden;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 1rem;
  margin: 0;
  i {
    font-size: 24px;
    text-align: center;
  }
}
.floating-action-button i {
  color: white;
}
.floating-action-accent-button i {
  color: $black-87;
}
.flat-button {
  @include button($background: transparent, $background-hover: rgba(#999, .2), $color: $primary-color);
  &,&:hover { color: $primary-color; }
}
.disabled-button {
  @include button($background: transparent, $background-hover: transparent, $color: $black-26);
  &,&:hover { color: $black-26; }
  cursor: not-allowed !important;
}
