$callout-border: 0;

@include foundation-callout;

.card, .callout {
  border-radius: $global-radius;
  @extend .z-depth-1;
  background: $white;
  .link-icon i {
    margin-top: 13px;
  }
  .bottom-button {
    margin-left: -1em;
    margin-bottom: -0.85em;
  }
  .text-caption {
    color: $black-26;
  }
}
