.card {
  border-radius: $global-radius;
  @extend .z-depth-1;
  background: $white;
  .link-icon i {
    margin-top: 7px;
  }
  .bottom-button {
    margin-bottom: 0;
  }
  .text-caption {
    color: $black-26;
  }
}
