// Reference:
// http://www.google.com/design/spec/components/menus.html

.dropdown-pane {
  @extend .z-depth-2;
  border-radius: $global-radius;
  background: $white;
  border: 0;
  padding: .5rem 0;
  overflow: hidden;
  width: auto;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li a {
    padding: .75rem 1.5rem;
    font-size: rem-calc(13);
    color: $black-87;
    display: block;
    &:hover {
      background: $grey-200;
    }
  }
  transition: opacity .4s ease-in-out, max-height .4s ease-in-out;
}
.dropdown-pane[aria-hidden="true"] {
  max-height: 0;
  opacity: 0;
}
.dropdown-pane[aria-hidden="false"] {
  max-height: 200px;
  opacity: 1;
}
