// Reference:
// http://www.google.com/design/spec/components/selection-controls.html

@include foundation-switch;

// Radio and checkbox inputs
input[type="checkbox"], input[type="radio"] {
  display: none;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
label.radio, label.checkbox {
  display: inline-block;
  line-height: 18px;
  position: relative;
  padding-left: 30px;
  text-align: center;
  cursor: pointer;
  &:before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    position: absolute;
    left: 0;
    top: -1px;
  }
}

// Checkbox inputs
label.checkbox:before, label.radio:before {
  transition: all .2s ease-in-out;
}
label.checkbox:before {
  border: 2px solid $black-54;
  border-radius: $global-radius;
  background-color: rgba($teal-500, 0);
}
label.checkbox.checked:before {
  content: '\f26b';
  line-height: 18px;
  font-size: 14px;
  color: $grey-200;
  background-color: $teal-500;
  border: 0;
  font-family: 'Material-Design-Iconic-Font';
}

// Radio inputs
label.radio:before {
  width: 10px;
  height: 10px;
  background: $teal-500;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  transform: scale(0.1);
  opacity: 0;
}
label.radio.checked:before {
  opacity: 1;
  transform: scale(1);
}
label.radio:before, label.radio:after {
  border-radius: 10px;
}
label.radio:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -1px;
  top: -1px;
  border: 2px solid $black-54;
}
label.radio.checked:after {
  border-color: $teal-500;
}

// Switches
.switch {
  width: auto;
  margin-top: 3px;
  input + label {
    height: rem-calc(14);
    border-radius: rem-calc(7);
    width: 2rem;
    box-shadow: 0 1px 1px $black-26 inset;
  }
  input + label:after {
    @extend .z-depth-1-hard;
    border-radius: rem-calc(10);
    top: rem-calc(-3);
    left: rem-calc(-5);
    height: 1.25rem;
    width: 1.25rem;
  }
  input:checked + label:after {
    background: $teal-500;
    left: 1.1rem;
  }
}
