// Reference:
// http://www.google.com/design/spec/material-design/introduction.html

.summary {
  border-left: 5px solid $primary-color;
  padding-left: 20px;
  h1 {
    @extend .text-subhead;
    color: $black-54;
    line-height: 16px;
    margin-top: 0;
  }
  ul {
    margin: 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 20px;
    }
  }
}
