// Reference:
// http://www.google.com/design/spec/components/tabs.html

.tabs {
  background: $primary-color;
  dd { 
    a {
      @extend .text-button;
      padding-top: 1rem;
      margin-bottom: 0;
    }
    &.active a {
      box-shadow: 0 -3px 0 0 $secondary-color inset;
    }
  }
}