// Reference:
// http://www.google.com/design/spec/components/tabs.html

$tab-background: $primary-color;
$tab-background-active: $primary-color;

@include foundation-tabs;

.tabs {
  border: 0;
  .tabs-title {
    a {
      color: $white;
      @extend .text-button;
      padding-top: 1rem;
      margin-bottom: 0;
    }
    &.is-active a {
      box-shadow: 0 -3px 0 0 $secondary-color inset;
    }
    & > a:hover {
      background: scale-color($primary-color, $lightness: -5%);
    }
  }
}
