// Reference:
// http://www.google.com/design/spec/components/text-fields.html

$input-border: 0;
$input-border-focus: 0;
$input-shadow: none;
$input-shadow-focus: none;

@include foundation-forms;

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  padding: rem-calc(16) 0 rem-calc(8) 0;
  margin: 0 0 rem-calc(8);
  border-bottom: 1px solid $grey-300;
  border-radius: 0;
  background: transparent;
  &::-webkit-input-placeholder,&::-webkit-input-placeholder {
    color: $black-26;
  }
  &:-moz-placeholder, &::-moz-placeholder {
    color: $black-26;
  }
  &:focus {
    border-bottom: 2px solid $primary-color;
    position: relative; top: 1px;
    background: transparent;
  }
  &.with-floating-label + label.floating-label {
    font-size: rem-calc(16);
    color: $black-26;
    position: relative;
    top: -35px;
    transition: top .45s ease-in-out, color .45s ease-in-out, font-size .45s ease-in-out;
    height: 0;
    cursor: text;
  }
  &.with-floating-label:focus, &.with-floating-label:valid {
    & + label.floating-label {
      color: $primary-color;
      font-size: rem-calc(12);
      top: -56px;
    }
  }
}
.is-invalid-input:not(:focus) {
  background: transparent;
  border-bottom-width: 2px;
}
