// Reference:
// http://www.google.com/design/spec/components/tooltips.html


$tooltip-pip-width: 0;
@include foundation-tooltip;

.tooltip {
  background: rgba($grey-700,.9);
  border-radius: 3px;
  &:before, &:after {
    display: none;
  }
}
