// Reference:
// http://www.google.com/design/spec/layout/metrics-keylines.html

.top-bar {
  @extend .z-depth-1;
  .top-bar-section {
    .has-icon {
      height: 64px;
      overflow: hidden;
      i,span {
        display: block;
        float: left;
      }
      i {
        line-height: 64px;
      }
      span {
        margin-left: 10px;
        display: inline-block;
      }
    }
    .dropdown {
      @extend .z-depth-2;
      li:not(.has-form):not(.active) > a:not(.button):hover {
        background: $grey-200;
        color: inherit;
      }
    }
  }
}

@media only screen and (max-width: 40em) {
  .top-bar-section ul li > a {
    color: $black-87;
    &.has-icon {
      i, span {
        line-height: 40px !important;
      }
    }
  }
}

