.top-bar {
  @extend .z-depth-1;
  .top-bar-section {
    .dropdown {
      @extend .z-depth-2;
      li:not(.has-form):not(.active) > a:not(.button):hover {
        background: $grey-200;
        color: inherit;
      }
    }
  }
}